<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>brief. coming soon</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Glory:wght@400;600&display=swap" rel="stylesheet">
        <style>
            footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                font-size: 20px;
                padding: 10px;
                margin: auto;
                box-sizing: border-box;
                text-align: right;
              }
              
        </style>
    </head>
    <body style="font-family: 'Glory', sans-serif;">
        <h1 style="font-family: 'Josefin Sans', sans-serif;">brief.</h1>
        <h2>New service coming soon! Sign up for updates: </h2>
        <form action="{{ url_for('mailing_list') }}" method="post">
            <input type="text" name="email" placeholder="Email">
            <input type="submit" value="Submit">
        </form>
    </body>
    <footer>
        Copyright © William Adams 2023
    </footer>
</html>
